{{#extend "common-page"}}

  {{#content "header"}}
    {{> head title="Займы на Яндекс. Деньги – быстрый способ выбраться из финансовой ямы"description="Займы на Яндекс. Деньги отличаются высокой скоростью оформления и безопасностью для клиентов. Создайте электронный кошелек Яндекс. Деньги и получите займ без отказа прямо сейчас, нажав пару клавиш."}}
  {{/content}}


  {{#content "content"}}
    {{> page-header}}
    <main class="page-content page-content_zaymi page-content_aside">
      <div class="page-content__wrap">
        <div class="page-wrap">
          {{!-- <section class="filters" style="display: none;">
        <h2 class="hidden">Подобрать условия</h2>
        <fieldset class="filters__fieldset">
          <legend class="filters__name">
            <p class="filters__place">
              Микрозаймы
              <span class="filters__city">в Москве</span>
            </p>
          </legend>
          <div class="filters__filter">
            <label class="filters__label" for="filter-amount">Введите сумму займа, руб.</label>
            <input class="filters__input" id="filter-amount" name="amount" type="number" value="3000" maxlength="10"
              minlength="4" min="1000" max="1000000" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="filters__filter">
            <label class="filters__label" for="filter-period">Срок, дней</label>
            <input class="filters__input" id="filter-period" name="period" type="number" value="3" maxlength="3"
              minlength="1" min="1" max="365" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section> --}}
          <section class="offers">
            <div class="offers__container">
              <h1 class="offers__h1 heading-1">Займы на Яндекс Деньги</h1>
              <p class="offers__caption">
                На сайте собран весь список надежных микрофинансовых организаций предоставляющих предоставляют услугу
                Займ на Яндекс Деньги. Большинство из них работает круглосуточно. Выберете подходящие условия,
                заполняйте анкету и ждите одобрение в ближайшие 15-20 минут.
              </p>
              <ul class="offers__list">
                {{#each mfo}}
                  {{#if (itHas this.filter-tags "yandex")}}
                    <li class="offers__item offer-card offer-card_pb_none">
                      <div class="offer-card__top">
                        <div class="offer-card__img">
                          <a class="offer-card__img-link" href="{{this.innerLink}}">
                            <img class="offer-card__img-tag" src="{{this.img}}" alt="{{this.name}}"
                              title="{{this.name}}" />
                          </a>
                        </div>
                      </div>
                      <div class="offer-card__contain">
                        <p class="offer-card__prop">
                          <span class="offer-card__prop-text">от {{this.rateFrom}} - до {{this.rateTo}}%</span>
                          <span class="offer-card__prop-name">Ставка в день</span>
                        </p>
                        <p class="offer-card__prop">
                          <span class="offer-card__prop-text"> от {{this.summFrom}} - до {{this.summTo}}₽</span>
                          <span class="offer-card__prop-name">Сумма</span>
                        </p>
                        <p class="offer-card__prop">
                          <span class="offer-card__prop-text">от {{this.limitFrom}} - до {{this.limitTo}} дней</span>
                          <span class="offer-card__prop-name">Срок</span>
                        </p>
                      </div>
                      <div class="offer-card__about-wrapper">
                        <button class="offer-card__about-more" title="Подробнее"></button>
                        <ul class="offer-card__about offer-card__about_closed">
                          {{#each this.aboutShort}}
                            <li class="offer-card__about-item">{{this}}</li>
                          {{/each}}
                          <li class="offer-card__about-mobile-btn">
                            <a class="offer-card__go offer-card__go_type_mobile button" href="{{this.link}}">Перейти</a>
                          </li>
                        </ul>
                      </div>
                      <a class="offer-card__go offer-card__go_type_desktop button" href="{{this.link}}">Перейти</a>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
            </div>
          </section>
          <section class="info">
            <h2 class="info__heading">
              Почему Яндекс. Деньги?
            </h2>
            <p class="info__text">
              В настоящее время кредиты и займы стали привычным и обыденным явлением в повседневной жизни. Взаймы
              выдаются различные суммы денег, цели кредита также могут сильно отличаться. Процедуры выдачи упрощаются, а
              пакет документов для получения займа сокращается.
            </p>
            <p class="info__text">
              Широкую популярность и развитие получают МФО структуры. Их популярность объясняется просто: небольшие
              суммы на короткий срок, минимальный набор документов. Займ на яндекс деньги без отказа перечисляют
              практически всегда. Пользователи по достоинству оценили тот факт, что средства в таких организациях могут
              быть выданы практически за считанные минуты, без личного обращения в офис кредитора.
            </p>
            <p class="info__text">
              Займ можно получить в любое время дня и ночи, просто подав заявку онлайн. Поскольку одобрение происходит
              автоматически, с помощью специальной программы, то и ответ на заявку поступает в среднем через 10 минут
              после обращения. Но как получить кредит, если нет личной или зарегистрированной карты банка? Также часто
              случается, что некая сумма нужна срочно, а срок действия банковской карты как раз подошел к концу. Есть
              возможность получить займы на яндекс деньги без карты.
            </p>
            <p class="info__text">
              Яндекс. Деньги — это виртуальный кошелек, который создается буквально в несколько нажатий клавиш. Он
              привязывается к электронной почте, что также довольно удобно. Пользователи называют такой способ получения
              средств самым быстрым и эффективным. Перечисление онлайн займа на яндекс деньги происходит в течение 3-5
              секунд, после того, как клиент соглашается на условия кредитора.
            </p>
            <h3 class="info__heading">
              Как оформить займ на Яндекс Деньги?
            </h3>
            <p class="info__text">
              Для того, чтобы заимствованные средства были перечислены на Ваш виртуальный кошелек, в ходе оформления
              кредита укажите способом получения именно этот способ. Также не забудьте ввести специальный номер.
            </p>
            <p class="info__text">
              Итак, рассмотрим порядок оформления кредита с получением онлайн займа на яндекс деньги:
            </p>
            <ul class="info__list list">
              <li class="info__text info__item list__item">
                Заполняете анкету на сайте заемщика, в графу способ получения денег вводите или выбираете кошелек.
              </li>
              <li class="info__text info__item list__item">
                После выбора способа открывается дополнительная вкладка, где вводится номер кошелька. Удобство в том,
                что потребитель имеет возможность создавать несколько кошельков и в дальнейшем оформлять несколько
                займов. Можно распределить их неким образом, дав, например, названия.
              </li>
              <li class="info__text info__item list__item">
                Далее пользователь отправляет заполненную заявку-анкету, и спустя некоторое время получает одобрение на
                получение средств займа на яндекс деньги без карты или отказ.
              </li>
              <li class="info__text info__item list__item">
                Следующим шагом становится подтверждение оферты.
              </li>
              <li class="info__text info__item list__item">
                После подтверждения система автоматически засчитывает согласие заемщика с условиями договора, и средства
                переводятся на счет.
              </li>
            </ul>
            <h3 class="info__heading">
              Преимущества оформления займа на яндекс деньги
            </h3>
            <p class="info__text">
              Перечисление средств на электронный кошелек имеет свои преимущества.
            </p>
            <ul class="info__list list">
              <li class="info__text info__item list__item">
                Операции с денежными средствами можно осуществлять в любое время, поскольку в данном случае банк не
                контролирует процедуру.
              </li>
              <li class="info__text info__item list__item">
                Деньгами электронной платежной системы легче рассчитываться в интернет-магазинах, оплачивать счета,
                совершать частные переводы.
              </li>
              <li class="info__text info__item list__item">
                Средства легко переводятся на другой кошелек, требуется только правильно ввести его номер.
              </li>
              <li class="info__text info__item list__item">
                В настоящее время вопрос о безопасности и защите данных стоит наиболее остро, работа в этой сфере
                ведется непрерывно. Средства и предоставленная информация о клиентах в электронных платежных системах
                защищены самым надежным образом, с применением последних разработок в этой области.
              </li>
            </ul>
            <h3 class="info__heading">Важная информация</h3>
            <p class="info__text">
              Пользователям нужно помнить, что сумма после одобрения займа на яндекс деньги без отказа может поступить
              только на идентифицированный кошелек. Если он не прошел идентификацию (подтверждение), клиент получит
              сообщение о том, что кошелек не может быть использован для выдачи.
            </p>
          </section>
        </div>
        {{> aside}}
      </div>
    </main>
  {{/content}}

  {{#content "footer"}}
    {{> footer}}
  {{/content}}

{{/extend}}
