{{#extend "common-page"}}

{{#content "header"}}
{{> head title="Займы онлайн"}}
{{/content}}


{{#content "content"}}
{{> page-header}}
<main class="page-content page-content_zaymi page-content_aside">
  <div class="page-content__wrap">
    <div class="page-wrap">
      {{!-- <section class="filters" style="display: none;">
        <h2 class="hidden">Подобрать условия</h2>
        <fieldset class="filters__fieldset">
          <legend class="filters__name">
            <p class="filters__place">
              Микрозаймы
              <span class="filters__city">в Москве</span>
            </p>
          </legend>
          <div class="filters__filter">
            <label class="filters__label" for="filter-amount">Введите сумму займа, руб.</label>
            <input class="filters__input" id="filter-amount" name="amount" type="number" value="3000" maxlength="10"
              minlength="4" min="1000" max="1000000" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="filters__filter">
            <label class="filters__label" for="filter-period">Срок, дней</label>
            <input class="filters__input" id="filter-period" name="period" type="number" value="3" maxlength="3"
              minlength="1" min="1" max="365" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section> --}}
      <section class="offers">
        <div class="offers__container">
          <h2 class="hidden">Займ через систему Контакт</h2>
          <p class="offers__caption">
            Ниже представлены все микрофинансовые организации дающие займ через систему Контакт. Сравнивайте, выбирайте подходящие условия и оформляйте займ в любое время дня и ночи.
          </p>
          <ul class="offers__list">
            {{#each mfo}}
            {{#if (itHas this.filter-tags "contact")}}
              <li class="offers__item offer-card offer-card_pb_none">
                <div class="offer-card__top">
                  <div class="offer-card__img">
                    <a class="offer-card__img-link" href="{{this.innerLink}}">
                      <img class="offer-card__img-tag" src="{{this.img}}" alt="{{this.name}}" title="{{this.name}}" />
                    </a>
                  </div>
                </div>
                <div class="offer-card__contain">
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.rateFrom}} - до {{this.rateTo}}%</span>
                    <span class="offer-card__prop-name">Ставка в день</span>
                  </p>
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text"> от {{this.summFrom}} - до {{this.summTo}}₽</span>
                    <span class="offer-card__prop-name">Сумма</span>
                  </p>
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.limitFrom}} - до {{this.limitTo}} дней</span>
                    <span class="offer-card__prop-name">Срок</span>
                  </p>
                </div>
                <div class="offer-card__about-wrapper">
                  <button class="offer-card__about-more" title="Подробнее"></button>
                  <ul class="offer-card__about offer-card__about_closed">
                    {{#each this.aboutShort}}
                    <li class="offer-card__about-item">{{this}}</li>
                    {{/each}}
                    <li class="offer-card__about-mobile-btn">
                      <a class="offer-card__go offer-card__go_type_mobile button" href="{{this.link}}">Перейти</a>
                    </li>
                  </ul>
                </div>
                <a class="offer-card__go offer-card__go_type_desktop button" href="{{this.link}}">Перейти</a>
              </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </section>
      <section class="info">
        <h2 class="info__heading">
          Удобство использования Контакт для получения кредита
        </h2>
        <p class="info__text">
          Платежная система CONTACT - одна из трех крупнейших компаний, используемых потребителями для осуществления переводов в регионы России и страны СНГ. Партнерами структуры выступают более 900 банков и иных финансовых организаций. В сети систем насчитывается более 500 тысяч точек, расположенных в 180 странах мира. По отдельным направлениям, доля займов через систему contact превышает отметку в 50%.
        </p>
        <p class="info__text">
          Займы через Контакт сегодня одобряют и проводят практически все более или менее известные микрофинансовые структуры. Но в чем заключается удобство применения такого метода получения средств?
        </p>
        <ul class="info__list list">
          <li class="info__text info__item list__item">
           МФО, МКК и т.д. в 90% случаев одобряю такой займ.
          </li>
          <li class="info__text info__item list__item">
           Деньги переводятся практически моментально, что очень удобно, например, при оформлении некой покупки.
          </li>
          <li class="info__text info__item list__item">
           Пользователю не нужно предоставлять данные о карте или оформленных на его имя счетах.
          </li>
          <li class="info__text info__item list__item">
           Перевод можно получить в любом отделении платежной системы.
          </li>
          <li class="info__text info__item list__item">
           Для оформления займа онлайн через Контакт пользователю необходимо предоставить лишь паспорт, также для одобрения перевода потребуется иметь доступ в Интернет.
          </li>
          <li class="info__text info__item list__item">
           Займы предоставляются заемщикам в возрасте от 18 до 65, а то и 80 лет (зависит от условий конкретной МФО).
          </li>
        </ul>
        <h3 class="info__heading">
          На каких условиях выдаются займы через систему Контакт?
        </h3>
        <p class="info__text">
          Займы через Контакт сегодня одобряют и проводят практически все более или менее известные микрофинансовые структуры. Но в чем заключается удобство применения такого метода получения средств?
        </p>
        <ul class="info__list list">
          <li class="info__text info__item list__item">
           Сумма кредита небольшая, для частых лиц при определенных условиях может достигать размеров в 1 миллион рублей;
          </li>
          <li class="info__text info__item list__item">
          Сроки погашения задолженности могут колебаться от одной-двух недель до полугода;
          </li>
          <li class="info__text info__item list__item">
           Выдача заимствованных средств осуществляется в одном из отделений системы.
          </li>
        </ul>
        <h3 class="info__heading">Почему стоит выбрать займ через систему Контакт?</h3>
        <p class="info__text">
          Услугами микрофинансовых организаций в основном пользуются люди, у которых нет возможности оформить кредит в банке. Чаще всего, это люди не способные подтвердить свой уровень дохода, клиенты не зарегистрированные на работе официально и иные категории граждан.
        </p>
        <p class="info__text">
          При оформлении займов онлайн через Контакт, кредиты с большей долей вероятности одобряют без справки формата 2-НДФЛ, без подтверждения платежеспособности и официального трудоустройства. Незначительные суммы денег в качестве займа здесь могут получить учащиеся ВУЗов или пенсионеры. Поскольку онлайн система проводит проверку данных пользователя в автоматическом режиме, при получении займов через contact пользователю не требуется карта банка или наличие счета в одной из финансовых организаций.
        </p>
        <h3 class="info__heading">Как оформить займ, чтобы получить его через терминал Контакт?</h3>
        <p class="info__text">
          Как уже было замечено, сами условия предоставления займа, равно как и его оформление не связаны с платежной системой. Поэтому для того, чтобы получить некую сумму в МФО, пользователю следует просто выбрать подходящую организацию. Сделать это в сети Интернет не сложно, можно воспользоваться специальными поисковыми системами, предварительно вписав подходящие условия.
        </p>
        <p class="info__text">
          После того, как потребитель уже определился с кредитором, нужно перейти на сайт заемщика и подать заявку на получение средств. В ходе заполнения анкеты следует обязательно указать, что платеж будет получен переводом через платежную систему Контакт. После одобрения заявки пользователь получает по СМС номер перевода и получает его в одном из отделений системы. Возврат долга может осуществляться подобным образом или же иными методами, в зависимости от условий и возможностей выбранной пользователем МФО.
        </p>
      </section>
    </div>
    {{> aside}}
  </div>
</main>
{{/content}}

{{#content "footer"}}
{{> footer}}
{{/content}}

{{/extend}}
