{{#extend "common-page"}}

{{#content "header"}}
{{> head title="Займы онлайн"}}
{{/content}}


{{#content "content"}}
{{> page-header}}
<main class="page-content page-content_zaymi page-content_aside">
  <div class="page-content__wrap">
    <div class="page-wrap">
      {{!-- <section class="filters" style="display: none;">
        <h2 class="hidden">Подобрать условия</h2>
        <fieldset class="filters__fieldset">
          <legend class="filters__name">
            <p class="filters__place">
              Микрозаймы
              <span class="filters__city">в Москве</span>
            </p>
          </legend>
          <div class="filters__filter">
            <label class="filters__label" for="filter-amount">Введите сумму займа, руб.</label>
            <input class="filters__input" id="filter-amount" name="amount" type="number" value="3000" maxlength="10"
              minlength="4" min="1000" max="1000000" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="filters__filter">
            <label class="filters__label" for="filter-period">Срок, дней</label>
            <input class="filters__input" id="filter-period" name="period" type="number" value="3" maxlength="3"
              minlength="1" min="1" max="365" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section> --}}
      <section class="offers">
        <div class="offers__container">
          <h1 class="offers__h1 heading-1">Предложения</h1>
          <p class="offers__caption">Владельцы банковских карт могут с легкостью решить свои временные финансовые трудности. Для этого им достаточно оформить займ на карту, обратившись в одну из многочисленных микрофинансовых организаций. Такой услугой сегодня пользуется все большее количество людей.
          </p>
          <ul class="offers__list">
            {{#each mfo}}
            {{#if (itHas this.filter-tags "na-kartu")}}
              <li class="offers__item offer-card offer-card_pb_none">
                <div class="offer-card__top">
                  <div class="offer-card__img">
                    <a class="offer-card__img-link" href="{{this.innerLink}}">
                      <img class="offer-card__img-tag" src="{{this.img}}" alt="{{this.name}}" title="{{this.name}}" />
                    </a>
                  </div>
                </div>
                <div class="offer-card__contain">
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.rateFrom}} - до {{this.rateTo}}%</span>
                    <span class="offer-card__prop-name">Ставка в день</span>
                  </p>
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text"> от {{this.summFrom}} - до {{this.summTo}}₽</span>
                    <span class="offer-card__prop-name">Сумма</span>
                  </p>
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.limitFrom}} - до {{this.limitTo}} дней</span>
                    <span class="offer-card__prop-name">Срок</span>
                  </p>
                </div>
                <div class="offer-card__about-wrapper">
                  <button class="offer-card__about-more" title="Подробнее"></button>
                  <ul class="offer-card__about offer-card__about_closed">
                    {{#each this.aboutShort}}
                    <li class="offer-card__about-item">{{this}}</li>
                    {{/each}}
                    <li class="offer-card__about-mobile-btn">
                      <a class="offer-card__go offer-card__go_type_mobile button" href="{{this.link}}">Перейти</a>
                    </li>
                  </ul>
                </div>
                <a class="offer-card__go offer-card__go_type_desktop button" href="{{this.link}}">Перейти</a>
              </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </section>
      <section class="info">
        <h2 class="info__heading">
          Преимущества заемщиков
        </h2>
        <p class="info__text">
          Популярность онлайн займов на карту без отказа стремительно увеличивается с каждым годом. Это объясняется их весомыми достоинствами:
        </p>
        <ul class="info__list list">
          <li class="info__text info__item list__item">
           простота оформления – для получения средств необходимо только оправить заявку на сайте и дождаться положительного ответа. Сервис работает в круглосуточном режиме;
          </li>
          <li class="info__text info__item list__item">
           минимальный перечень документов – в отличие от кредита банка не нужно оформлять разные справки, в том числе и о доходах, прикладывая для этого немало усилий. Также не потребуются поручители и залог
          </li>
          <li class="info__text info__item list__item">
           легкость и быстрота оформления – достигается за счет выполнения всех действий онлайн на сайте. Нет необходимости обращаться в разные отделения, тратя на это дополнительное время.
          </li>
        </ul>
        <p class="info__text">
          Дополнить перечень преимуществ стоит лояльным отношением, которое практикуется микрофинансовыми организациями к своим клиентам. При рассмотрении заявки не имеет значение кредитная история и многие другие моменты. Перечень требований, выдвигаемых к клиентам, является минимальным. Как правило, речь идет о наличии паспорта, гражданства и достижении определенной возрастной отметки. Данным условиям соответствуют многие клиенты, что позволяет большому количеству заемщиков успешно получить требуемую сумму денег. В результате процент одобрения заявок в компаниях остается очень высоким. Положительный ответ по заявкам получают многие заемщики.
        </p>
        <h3 class="info__heading">
          Оформление онлайн
        </h3>
        <p class="info__text">
         Чтобы получить займ на банковскую карту, необходимо выполнить несколько простых действий:
        </p>
        <ul class="info__list list">
          <li class="info__text info__item list__item">
           выбрать кредитора – среди всего перечня МФО выбирается компания, предлагающая наиболее подходящие условия;
          </li>
          <li class="info__text info__item list__item">
          подать заявку – сделать это можно на сайте компании. Для этого необходимо заполнить форму, где указывается основная информация, включая данные заемщика. Важно правильно указать все сведения;
          </li>
          <li class="info__text info__item list__item">
           дождаться ответа – рассмотрение заявки происходит очень быстро, что позволяет в скором времени узнать результат;
          </li>
          <li class="info__text info__item list__item">
           получить средства – после одобрения средства перечисляются клиенту. Операция не занимает много времени.
          </li>
        </ul>
        <p class="info__text">
          На официальных сайтах МФО детально прописано, как получить займы онлайн на карту. Достаточно только четко следовать всем подсказкам, последовательно выполняя основные шаги. При необходимости всегда можно связаться с сотрудниками. Они готовы проконсультировать по всем вопросам, включая условия и технологию оформления. Обратиться к ним можно удобными способами.
        </p>
        <h3 class="info__heading">
          Подбор выгодного займа
        </h3>
        <p class="info__text">
          Займ на карту круглосуточно предлагается большим количеством организаций. Подбирая наиболее подходящий вариант, стоит ориентироваться на надежность и репутацию компании. Не менее важным критерием выбора выступают предлагаемые условия:
        </p>
        <ul class="info__list list">
          <li class="info__text info__item list__item">
           минимальная и максимальная сумма;
          </li>
          <li class="info__text info__item list__item">
          срок действия займа;
          </li>
          <li class="info__text info__item list__item">
           процентная ставка;
          </li>
          <li class="info__text info__item list__item">
           дополнительные комиссии;
          </li>
          <li class="info__text info__item list__item">
           требования к заемщикам;
          </li>
          <li class="info__text info__item list__item">
           длительность рассмотрения заявки;
          </li>
          <li class="info__text info__item list__item">
           способы погашения.
          </li>
        </ul>
        <p class="info__text">
          Чтобы легко и быстро выбрать самый выгодный онлайн займ на банковскую карту, удобнее всего обратиться к помощи сервиса, освещающего деятельность разных организаций. Здесь представлен обширный перечень МФО. Удобно, что сразу отмечаются основные условия. Это позволяет подобрать наиболее выгодную программу. После этого можно сразу приступить к оформлению, перейдя на сайт выбранной МФО. Именно здесь предлагается получить более детальную информацию об условиях займов, а также подать заявку онлайн, не теряя времени.
        </p>
      </section>
    </div>
    {{> aside}}
  </div>
</main>
{{/content}}

{{#content "footer"}}
{{> footer}}
{{/content}}

{{/extend}}
