{{#extend "common-page"}}

{{#content "header"}}
{{> head title="Рейтинг МФО"}}
{{/content}}

{{#content "content"}}
{{> page-header}}
<main class="page-content page-content--zaymi page-content--aside">
  <div class="page-content__wrap">
      <div class="page-wrap">
        <section class="offers">
          <h2 class="hidden">Рейтинг</h2>
          <p class="offers__caption">
            Займы онлайн - большая экономия времени! Оформляйте займы из любой
            точки РФ. Не нужно стоять в очередях, искать поручителя. Выберите
            условия, отправьте заявку через интернет и получите деньги на выгодных
            условиях!
          </p>
          <ul class="offers__list">
            {{#each mfo}}
              <li class="offers__item offer-card offer-card--rating offer-card--{{this.title}} js-set-number">
                <div class="offer-card__top">
                  {{!-- <p class="offer-card__name">
                    <a href="{{this.innerLink}}">{{this.name}} / {{this.nameEn}}</a>
                  </p> --}}
                  <div class="offer-card__img">
                    <a href="{{this.innerLink}}">
                      <img src="{{this.img}}" alt="{{this.name}}" title="{{this.name}}"/>
                    </a>
                  </div>
                </div>
                <div class="offer-card__contain">
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.rateFrom}} - до {{this.rateTo}}%</span>
                    <span class="offer-card__prop-name">Ставка в день</span>
                  </p>
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.summFrom}} - до {{this.summTo}} ₽</span>
                    <span class="offer-card__prop-name">Сумма</span>
                  </p>
                </div>
                <a class="offer-card__go button" href="{{this.link}}">Получить</a>
                <div class="set-number offer-card__number"></div>
              </li>
            {{/each}}
          </ul>
          <button class="page-mfo__more">Показать больше</button>
        </section>
        <section class="info">
          <h2 class="hidden">
            Займы онлайн - легкий способ занять деньги срочно через интернет
          </h2>
          <p class="info__text">
            Почти у каждого гражданина РФ рано или поздно бывают экстренные
            ситуации, когда нужны срочно деньги. В банках процесс оформления
            занимает много времени. В такой ситуации выручают займы онлайн!
          </p>
          <p class="info__text">
            Мгновенные займы онлайн легко помогут вам преодолеть финансовые
            трудности. Для оформления вам нужно иметь паспорт, выход в интернет,
            найти подходящие условия и пару минут для заполнения заявки онлайн.
          </p>
          <h3 class="info__heading">
            Микрозаем онлайн - это круглосуточная выдача денег
          </h3>
          <p class="info__text">
            Наш сервис подобрал самые надежные и популярные займы в РФ,
            большинство из них работают круглосуточно 24/7, без выходных.
          </p>
          <p class="info__text">
            С нами легко сможете получить займ онлайн срочно, в любое время суток.
            Достаточно оформить заявку, подождать 15 минут, получить одобрение и в
            ближайшие часы получить деньги на любую для вас удобную платежную
            систему (На карту, Золотая корона, Qiwi, contact, Yandex.money или
            банковский счет).
          </p>
          <h3 class="info__heading">
            Есть три основных требования для получения займа онлайн:
          </h3>
          <ul class="info__list list">
            <li class="info__text info__item list__item">
              Человек должен проживать в РФ
            </li>
            <li class="info__text info__item list__item">
              Возраст обращения от 18 лет
            </li>
            <li class="info__text info__item list__item">
              Документ, подтверждающий личность (Паспорт)
            </li>
          </ul>
          <p class="info__text">
            Есть и другие требования, в зависимости в какую МФО вы обращаетесь
          </p>
          <h3 class="info__heading">Основные условия микрозаймов онлайн</h3>
          <ul class="info__list list">
            <li class="info__text info__item list__item">
              Займы онлайн дают деньги сроком от 1 до 45 дней
            </li>
            <li class="info__text info__item list__item">
              Процент рассчитывается индивидуально, в среднем составляет от 2% в
              день
            </li>
            <li class="info__text info__item list__item">
              Микрозаем онлайн можно взять на любые нужды, суммой от 1000 до 30000
              рублей
            </li>
          </ul>
          <h3 class="info__heading">Преимущества</h3>
          <p class="info__text">
            Мы индивидуально подошли к каждой микрофинансовой компании, отобрали
            надежные и проверенные МФО.
          </p>
          <ul class="info__list list">
            <li class="info__text info__item list__item">Нет скрытых комиссий</li>
            <li class="info__text info__item list__item">
              Удобно просматривать и сравнивать условия
            </li>
            <li class="info__text info__item list__item">
              Гарантирована защита персональных данных
            </li>
            <li class="info__text info__item list__item">
              Максимально просто, интуитивно понятно
            </li>
          </ul>
          <p class="info__text">
            Выбирайте выгодные условия, оформляйте заявку, получайте деньги,
            наслаждайтесь процессом получения микрозаймов онлайн!
          </p>
        </section>
      </div>
    {{> aside}}
  </div>
</main>
{{/content}}

{{#content "footer"}}
{{> footer}}
{{/content}}

{{/extend}}
