{{#extend "common-page"}}

{{#content "header"}}
{{> head title="Рейтинг МФО"}}
{{/content}}

{{#content "content"}}
{{> page-header}}
<main class="page-content page-content_zaymi page-content_aside">
  <div class="page-content__wrap">
      <div class="page-wrap">
        <section class="offers">
          <h2 class="hidden">Рейтинг</h2>
          <p class="offers__caption">
            ....
          </p>
          <ul class="offers__list">
            {{#each mfo}}
              <li class="offers__item offer-card offer-card_{{this.title}} js-set-number">
                <div class="offer-card__top">
                  <div class="offer-card__img">
                    <a class="offer-card__img-link" href="{{this.innerLink}}">
                      <img class="offer-card__img-tag" src="{{this.img}}" alt="{{this.name}}" title="{{this.name}}"/>
                    </a>
                  </div>
                </div>
                <div class="offer-card__contain">
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.rateFrom}} - до {{this.rateTo}}%</span>
                    <span class="offer-card__prop-name">Ставка в день</span>
                  </p>
                  <p class="offer-card__prop">
                    <span class="offer-card__prop-text">от {{this.summFrom}} - до {{this.summTo}} ₽</span>
                    <span class="offer-card__prop-name">Сумма</span>
                  </p>
                </div>
                <a class="offer-card__go button" href="{{this.link}}">Получить</a>
                <div class="set-number offer-card__number"></div>
              </li>
            {{/each}}
          </ul>
          <button class="page-mfo__more">Показать больше</button>
        </section>
        <section class="info">
          <p class="info__text">
            Микрофинансовые организации - очень удобное средство для получения займа в кратчайшие сроки. Удобство МФО в том, что кредит можно получить в день обращения, при этом не требуется предоставлять кучу документов. Самое важное для клиента – правильный выбор МФО. Для того, чтобы определить организацию с лучшими условиями и высоким качеством обслуживания, достаточно использовать рейтинг микрозаймов.
          </p>
          <h2 class="info__heading">
            Для чего нужен сайт с рейтингом МФО?
          </h2>
          <p class="info__text">
            Список организуется на основе отзывов потребителей и их оценок. При нажатии на название организации в рейтинге микрозаймов пользователь может посмотреть её популярность, увидеть сайт, телефон горячей линии, а также основные условия, на которых выдается кредит. Здесь же указаны преимущества кредитной организации. Чаще всего это:
          </p>
          <ul class="info__list list">
            <li class="info__text info__item list__item">
             Работа в круглосуточном режиме;
            </li>
            <li class="info__text info__item list__item">
              Высокая вероятность одобрения займа;
            </li>
            <li class="info__text info__item list__item">
              Возможность получить микрозайм онлайн.
            </li>
          </ul>
          <p class="info__text">
            Представлены способы, с помощью которых клиент может получить заимствованные деньги. Сегодня возможности выдачи не ограничиваются перечислением на карту банка, для получения есть несколько доступных способов. К таковым относят:
          </p>
          <ul class="info__list list">
            <li class="info__text info__item list__item">
            Займ переводом через платежную систему. Удобство такого способа в том, что пользователю не требуется оставлять данные банковской карты;
            </li>
            <li class="info__text info__item list__item">
            Перечислением средств на виртуальный кошелек. Такой способ также предполагает передачу минимального количества личной информации банку.
            </li>
          </ul>
          <h3 class="info__heading">
          Что еще можно узнать на сайте?
          </h3>
          <p class="info__text">
            Отдельно на сайте рейтинга микрозаймов онлайн выведена первая пятерка, и это лидеры. Существует возможность подбора займа по выбранным параметрам или ключевым словам. Также выведен список городов, в которых можно получить средства от конкретной организации.
          </p>
          <p class="info__text">
            Кроме рейтинга онлайн займов есть возможность прочитать полезную информацию о том как:
          </p>
          <ul class="info__list list">
            <li class="info__text info__item list__item">
           повысить вероятность одобрения кредита;
            </li>
            <li class="info__text info__item list__item">
           почему структуры отказывают в выдаче денег;
            </li>
            <li class="info__text info__item list__item">
           возможно ли получить микрозайм, если у клиента уже есть кредит;
            </li>
            <li class="info__text info__item list__item">
           в чем заключается отличие МФО от рядового банка;
            </li>
            <li class="info__text info__item list__item">
           допустимо ли предоставление финансов по чужому паспорту;
            </li>
            <li class="info__text info__item list__item">
           куда можно пожаловаться на недобросовестное обслуживание и т.д.
            </li>
          </ul>
          <p class="info__text">
            Есть возможность рассчитать проценты для будущего займа за определенный период, а также заведомо увидеть величину переплаты при наличии просрочек или величину экономии при досрочном погашении кредита. Чтобы воспользоваться калькулятором, необходимо кликнуть по нему, а затем ввести сумму кредита, срок кредитования и процент в день.
          </p>
          <p class="info__text">
            Сайт — рейтинг онлайн МФО, оснащен специальной бегущей строкой, в которой показывается кредитная структура, находящаяся в рейтинге микрозаймов с самым выгодным тарифом.
          </p>
          <p class="info__text">
            Существует также возможность подбора микрозаймов под ноль процентов. Такие займы используются организациями специально для привлечения клиентов. На странице рейтинга займов есть специальная кнопка, нажав на которую, клиент получает рейтинг организаций, готовых предоставить кредит на срок до 30 дней без процентов. Здесь же есть поисковая строка, по которой можно отфильтровать подходящие предложения по сумме кредита, сроку кредитования и способу получения.
          </p>
          <h3 class="info__heading">
            В чем преимущества сайта рейтинга МФО?
          </h3>
          <p class="info__text">
            Сайт рейтинга займов сформирован на основе отзывов реальных заемщиков. Клиент получает возможность выбрать лучшую организацию, сравнить условия кредитования, заранее посчитать сроки и размер выплат, получить полную развернутую информацию о способах, возможностях, нюансах выдачи микрозаймов. Здесь представлены реальные отзывы потребителей, основанные на наличном опыте взаимодействия клиента и организации. Зачастую это самый надежный способ проверить надежность МФО.
          </p>
        </section>
      </div>
    {{> aside}}
  </div>
</main>
{{/content}}

{{#content "footer"}}
{{> footer}}
{{/content}}

{{/extend}}
