{{#extend "common-page"}}

{{#content "header"}}
{{> head title="Главная старница"}}
{{/content}}


{{#content "content"}}
{{> page-header}}
<main>
  <section class="help">
    <div class="help__container">
      <h2 class="hidden">Zaimfast.ru</h2>
      <div class="help__img-container"></div>
      <p class="help__text">
        <b class="help__title">Zaimfast</b>
        это проект, где собраны все проверенные МФО России. С нами легко
        сможете получить срочно деньги без лишней суеты в ближайшие часы!
      </p>
    </div>
  </section>
  <section class="offer">
    <div class="offer__container">
      <h2 class="offer__heading heading-2">Наши предложения</h2>
      <ul class="offer__list">
        {{#each offers}}
        <li class="offer__item offer__item--{{this.title}}">
          <a href="{{this.link}}" class="offer__link">
            <span class="offer__icon">
              <img src="{{this.img}}" alt="{{this.name}}" width="48" height="48">
            </span>
            <p class="offer__name">{{this.name}}</p>
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </section>
  <section class="best">
    <div class="best__container">
      <h2 class="heading-2 best__heading">Лучшие предложения</h2>
      <ul class="best__list">
        <li class="best__item best-card">
          <div class="best-card__top">
            <div class="best-card__text">
              <h3 class="best-card__heading heading-3">
                Zaymer
              </h3>
              <div class="best-card__description-container">
                <p class="best-card__description">
                  Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
            <div class="best-card__img-container">
              <img src="/img/best-card/zaymer300x100.png" alt="Займер" width="286" height="100" />
            </div>
          </div>
          <div class="best-card__content">
            <p>
              до 30 000 ₽<br />
              <span class="best-card__sub">cумма:</span>
            </p>
            <p>
              до 1.5% <br />
              <span class="best-card__sub">в день</span>
            </p>
          </div>
          <a href="#" class="button best-card__purchase">Оформить</a>
        </li>
        <li class="best__item best-card">
          <div class="best-card__top">
            <div class="best-card__text">
              <h3 class="best-card__heading heading-3">
                Лайм-Займ
              </h3>
              <div class="best-card__description-container">
                <p class="best-card__description">
                  Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
            <div class="best-card__img-container">
              <img src="/img/best-card/lime300x100.png" alt="Лайм-Займ" width="187" height="71" />
            </div>
          </div>
          <div class="best-card__content">
            <p>
              до 70 000 ₽<br />
              <span class="best-card__sub">cумма:</span>
            </p>
            <p>
              до 1.5% <br />
              <span class="best-card__sub">в день</span>
            </p>
          </div>
          <a href="#" class="button best-card__purchase">Оформить</a>
        </li>
        <li class="best__item best-card">
          <div class="best-card__top">
            <div class="best-card__text">
              <h3 class="best-card__heading heading-3">
                Манимен
              </h3>
              <div class="best-card__description-container">
                <p class="best-card__description">
                  Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
            <div class="best-card__img-container">
              <img src="/img/best-card/moneyman300x100.png" alt="Манимен" width="298" height="57" />
            </div>
          </div>
          <div class="best-card__content">
            <p>
              до 80 000 ₽<br />
              <span class="best-card__sub">cумма:</span>
            </p>
            <p>
              до 1.5% <br />
              <span class="best-card__sub">в день</span>
            </p>
          </div>
          <a href="#" class="button best-card__purchase">Оформить</a>
        </li>
      </ul>
      <a href="#" class="button best__more">Показать больше</a>
    </div>
  </section>
  <section class="articles">
    <div class="articles__container">
      <h2 class="heading-2 articles__heading">Полезные статьи</h2>
      <ul class="articles__list">
        <li class="articles__item">
          <a href="#" class="articles__link">
            <div class="articles__img">
              <img src="/img/content/kreditnayahistoriya.jpg" alt="Как взять займ, с плохой кредитной историей?" />
            </div>
            <p class="articles__news-heading">
              Как взять займ, с плохой кредитной историей?
            </p>
          </a>
        </li>
        <li class="articles__item">
          <a href="#" class="articles__link">
            <div class="articles__img">
              <img src="/img/content/Zajmy-bez-karty-576x356.png"
                alt="Займ без карты без проверок кредитной истории это реально!" />
            </div>
            <p class="articles__news-heading">
              Займ без карты без проверок кредитной истории это реально!
            </p>
          </a>
        </li>
        <li class="articles__item">
          <a href="#" class="articles__link">
            <div class="articles__img">
              <img src="/img/content/prosrochka.jpg" alt="3 проверенных способа как улучшить кредитную историю" />
            </div>
            <p class="articles__news-heading">
              3 проверенных способа как улучшить кредитную историю
            </p>
          </a>
        </li>
      </ul>
      <a class="articles__more button" href="#">Все статьи</a>
    </div>
  </section>
  <section class="partners">
    <div class="partners__container">
      <h2 class="heading-2 partners__heading">Наши партнеры</h2>
      <div class="partners__list-wrap">
        <ul class="partners__list">
          {{#each partners}}
          <li class="partners__item partners__item--{{this.title}}">
            <a href="{{this.link}}" class="partners__link">
              <img class="partners__img" src="{{this.img}}" alt="{{this.name}}" />
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      <a class="partners__more button" href="#">Все партнеры</a>
    </div>
  </section>
  <section class="why">
    <div class="why__container">
      <h2 class="why__heading heading-2">Почему выбирают Zaimfast</h2>
      <ul class="why__list">
        <li class="why__item why__item--quality">
          <b class="why__title">Качество</b>
          <p class="why__text">
            Мы ведем постоянный анализ наших партнеров, каждый день обновляем информацию более 70 предложений о займах
          </p>
        </li>
        <li class="why__item why__item--accesible">
          <b class="why__title">Доступно</b>
          <p class="why__text">
            Сможете легко отобрать выгодные предложения и выбрать подходящее предложение, что сэкономит Ваше время и
            бюджет
          </p>
        </li>
        <li class="why__item why__item--fast">
          <b class="why__title">Быстро</b>
          <p class="why__text">
            Благодаря интуитивно понятному интерфейсу, легко сможете найту нужную информацию
          </p>
        </li>
      </ul>
    </div>
  </section>
</main>
{{/content}}

{{/extend}}
