{{#extend "common-page"}}

  {{#content "header"}}
    {{> head title="Срочные займы онлайн на карту Сбербанка – с нами надежно и выгодно!"description="Оформить моментальный займ на карту Сбербанка поможет список проверенных МФО. Выберите подходящие условия (процентная ставка, график платежей и срок возращения кредита, ограничения по суммам) и получайте займ на карту Сбербанка без отказа и мгновенно."}}
  {{/content}}


  {{#content "content"}}
    {{> page-header}}
    <main class="page-content page-content_zaymi page-content_aside">
      <div class="page-content__wrap">
        <div class="page-wrap">
          {{!-- <section class="filters" style="display: none;">
        <h2 class="hidden">Подобрать условия</h2>
        <fieldset class="filters__fieldset">
          <legend class="filters__name">
            <p class="filters__place">
              Микрозаймы
              <span class="filters__city">в Москве</span>
            </p>
          </legend>
          <div class="filters__filter">
            <label class="filters__label" for="filter-amount">Введите сумму займа, руб.</label>
            <input class="filters__input" id="filter-amount" name="amount" type="number" value="3000" maxlength="10"
              minlength="4" min="1000" max="1000000" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="filters__filter">
            <label class="filters__label" for="filter-period">Срок, дней</label>
            <input class="filters__input" id="filter-period" name="period" type="number" value="3" maxlength="3"
              minlength="1" min="1" max="365" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section> --}}
          <section class="offers">
            <div class="offers__container">
              <h1 class="offers__h1 heading-1">Займ на карту Сбербанка</h1>
              <p class="offers__caption">
                На сайте собраны все МФО предлагающие взять займ на карту Сбербанка. Сравнивайте условия, выбирайте
                подходящие условия и оформляйте займ быстро и в любое время суток.
              </p>
              <ul class="offers__list">
                {{#each mfo}}
                  {{#if (itHas this.filter-tags "sberbank")}}
                    <li class="offers__item offer-card offer-card_pb_none">
                      <div class="offer-card__top">
                        <div class="offer-card__img">
                          <a class="offer-card__img-link" href="{{this.innerLink}}">
                            <img class="offer-card__img-tag" src="{{this.img}}" alt="{{this.name}}"
                              title="{{this.name}}" />
                          </a>
                        </div>
                      </div>
                      <div class="offer-card__contain">
                        <p class="offer-card__prop">
                          <span class="offer-card__prop-text">от {{this.rateFrom}} - до {{this.rateTo}}%</span>
                          <span class="offer-card__prop-name">Ставка в день</span>
                        </p>
                        <p class="offer-card__prop">
                          <span class="offer-card__prop-text"> от {{this.summFrom}} - до {{this.summTo}}₽</span>
                          <span class="offer-card__prop-name">Сумма</span>
                        </p>
                        <p class="offer-card__prop">
                          <span class="offer-card__prop-text">от {{this.limitFrom}} - до {{this.limitTo}} дней</span>
                          <span class="offer-card__prop-name">Срок</span>
                        </p>
                      </div>
                      <div class="offer-card__about-wrapper">
                        <button class="offer-card__about-more" title="Подробнее"></button>
                        <ul class="offer-card__about offer-card__about_closed">
                          {{#each this.aboutShort}}
                            <li class="offer-card__about-item">{{this}}</li>
                          {{/each}}
                          <li class="offer-card__about-mobile-btn">
                            <a class="offer-card__go offer-card__go_type_mobile button" href="{{this.link}}">Перейти</a>
                          </li>
                        </ul>
                      </div>
                      <a class="offer-card__go offer-card__go_type_desktop button" href="{{this.link}}">Перейти</a>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
            </div>
          </section>
          <section class="info">
            <h2 class="info__heading">Почему выбирают займ на карту Сбербанка</h2>
            <p class="info__text">
              Порой бывает так, что требуется срочно получить займ. Услуги рядовых банков в этом случае не подходят,
              поскольку деньги нужны уже сейчас, а банк требует целый пакет документов, справок. Кроме того, на проверку
              уходит еще несколько дней, после чего происходит только одобрение кредита, но ведь нужно еще подписать
              договор. Словом, в условиях сжатых сроков на помощь могут прийти организации типа МФО, МФК и МКК. Быстрый
              займ на карту Сбербанка имеет свои особенности, структура организации тоже предполагает некую специфику
              работы.
            </p>
            <h3 class="info__heading">
              Условия выдачи займа на карту Сбербанка без отказа
            </h3>
            <ul class="info__list list">
              <li class="info__text info__item list__item">
                Небольшая сумма займа. МКК — это небольшие организации, поэтому и финансовые потоки у них значительно
                скромнее, чем у банков. Поэтому кредит здесь выдают на сумму не более 100 тысяч рублей.
              </li>
              <li class="info__text info__item list__item">
                Небольшой срок выплат процентов и основной суммы долга. Поскольку сумма небольшая, и не предполагает под
                собой никаких залогов, проценты по таким займам приличные, а сроки выплаты очень короткие. В среднем
                период уплаты долга составляет от 2 недель до нескольких месяцев.
              </li>
              <li class="info__text info__item list__item">
                Иная периодичность начисления процентов. В банке кредит выдается по ставке процента в год, в
                микрофинансовых организациях проценты начисляют за каждый день на протяжение периода кредитования.
              </li>
              <li class="info__text info__item list__item">
                Правила оформления займа на карту Сбербанка в МКК не настолько строгие, поэтому срок договора может быть
                продлен по желанию клиента.
              </li>
              <li class="info__text info__item list__item">
                В микрофинансовых структурах практически всегда можно погасить долг досрочно без дополнительных выплат.
              </li>
            </ul>
            <h3 class="info__heading">
              Куда перечисляются деньги?
            </h3>
            <p class="info__text">
              МКК, МФО и прочие подобные организации не выпускают собственные кредитки, поэтому зачисление денег
              происходит на уже зарегистрированные карточные счета банков клиента. Все зависимости от специфики работы
              организации и особенностей клиента, можно взять займ на карту Сбербанка или получить перевод другим
              способом.
            </p>
            <p class="info__text">
              В настоящее время можно использовать карту любого банка, но основная доля перечислений приходится именно
              на карты Сбербанка, поскольку это крупнейший банк страны.
            </p>
            <h3 class="info__heading">
              Особенности перечисления займа
            </h3>
            <p class="info__text">
              Не каждый клиент может использовать карточку банка для того, чтобы применять ее в качестве средства для
              зачисления средств при оформлении займов онлайн. Для того, чтобы получить займ на карту Сбербанка
              мгновенно, пользователь должен подходить под ряд требований.
            </p>
            <ul class="info__list list">
              <li class="info__text info__item list__item">
                Клиенту на момент получения денег должно быть более 18 лет.
              </li>
              <li class="info__text info__item list__item">
                Он должен иметь регистрацию в одном их субъектов РФ.
              </li>
              <li class="info__text info__item list__item">
                Подтверждения дохода не требуется, но у клиента должен быть постоянный заработок.
              </li>
              <li class="info__text info__item list__item">
                Получить средства можно, но использовать следует только дебетовые карты (то есть те, на которые
                зачисляется пенсия, заработная плата и прочее).
              </li>
              <li class="info__text info__item list__item">
                Баланс должен быть положительным на момент зачисления денег.
              </li>
            </ul>
            <p class="info__text">
              Сбербанк имеет развитую и надежную систему проверки, поэтому у микрофинансовых структур клиенты с
              дебетовой карточкой Сбербанка вызывают большее доверие. Чаще всего займ круглосуточно на карту Сбербанка
              оформляется за очень короткий срок, всего лишь при предоставлении паспорта. Но в ряде случаев у клиента
              могут потребовать страховое свидетельство или ИНН.
            </p>
            <h3 class="info__heading">Процедура оформления</h3>
            <p class="info__text">
              Сегодня для выбора подходящей организации в интернете существует множество инструментов, достаточно просто
              ввести любой запрос о МФО, перейти на один из сайтов и ввести приемлемые условия. Применяя фильтр, клиенты
              получают список доступных организаций буквально в один клик. После чего необходимо сделать выбор, перейти
              на страницу кредитора и оформить заявку онлайн. Чтобы взять займ на карту Сбербанка, следует сразу указать
              её в условиях выдачи и ввести реквизиты.
            </p>
          </section>
        </div>
        {{> aside}}
      </div>
    </main>
  {{/content}}

  {{#content "footer"}}
    {{> footer}}
  {{/content}}

{{/extend}}
