{{#extend "common-page"}}

{{#content "header"}}
{{> head title="Займы онлайн"}}
{{/content}}


{{#content "content"}}
{{> page-header}}
<main class="page-content page-content_zaymi page-content_aside">
  <div class="page-content__wrap">
    <div class="page-wrap">
      {{!-- <section class="filters" style="display: none;">
        <h2 class="hidden">Подобрать условия</h2>
        <fieldset class="filters__fieldset">
          <legend class="filters__name">
            <p class="filters__place">
              Микрозаймы
              <span class="filters__city">в Москве</span>
            </p>
          </legend>
          <div class="filters__filter">
            <label class="filters__label" for="filter-amount">Введите сумму займа, руб.</label>
            <input class="filters__input" id="filter-amount" name="amount" type="number" value="3000" maxlength="10"
              minlength="4" min="1000" max="1000000" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="filters__filter">
            <label class="filters__label" for="filter-period">Срок, дней</label>
            <input class="filters__input" id="filter-period" name="period" type="number" value="3" maxlength="3"
              minlength="1" min="1" max="365" />
            <div class="slider">
              <div class="slider__conteiner">
                <div class="slider__lenght">
                  <div class="slider__depth"></div>
                  <div class="slider__pin"></div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section> --}}
      <section class="offers">
        <div class="offers__container">
          <h2 class="hidden">Займы онлайн – быстро, надежно и выгодно!</h2>
          <p class="offers__caption">
            Обойти сложную финансовую ситуацию вам поможет наш сайт. Именно у нас вы найдете надежные микрофинансовые
            организации (МФО), выдающие займы онлайн. Воспользовавшись информацией, предоставленной на нашем ресурсе, вы
            сможете выбрать компанию с наиболее выгодными и удобными условиями для вас и получить необходимую сумму
            денег в кратчайшие сроки.
          </p>
          <ul class="offers__list">
            {{#each mfo}}
            {{#if (itHas this.filter-tags "online")}}
            <li class="offers__item offer-card offer-card_pb_none">
              <div class="offer-card__top">
                <div class="offer-card__img">
                  <a class="offer-card__img-link" href="{{this.innerLink}}">
                    <img class="offer-card__img-tag" src="{{this.img}}" alt="{{this.name}}" title="{{this.name}}" />
                  </a>
                </div>
              </div>
              <div class="offer-card__contain">
                <p class="offer-card__prop">
                  <span class="offer-card__prop-text">от {{this.rateFrom}} - до {{this.rateTo}}%</span>
                  <span class="offer-card__prop-name">Ставка в день</span>
                </p>
                <p class="offer-card__prop">
                  <span class="offer-card__prop-text"> от {{this.summFrom}} - до {{this.summTo}}₽</span>
                  <span class="offer-card__prop-name">Сумма</span>
                </p>
                <p class="offer-card__prop">
                  <span class="offer-card__prop-text">от {{this.limitFrom}} - до {{this.limitTo}} дней</span>
                  <span class="offer-card__prop-name">Срок</span>
                </p>
              </div>
              <div class="offer-card__about-wrapper">
                <button class="offer-card__about-more" title="Подробнее"></button>
                <ul class="offer-card__about offer-card__about_closed">
                  {{#each this.aboutShort}}
                  <li class="offer-card__about-item">{{this}}</li>
                  {{/each}}
                  <li class="offer-card__about-mobile-btn">
                    <a class="offer-card__go offer-card__go_type_mobile button" href="{{this.link}}">Перейти</a>
                  </li>
                </ul>
              </div>
              <a class="offer-card__go offer-card__go_type_desktop button" href="{{this.link}}">Перейти</a>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </section>
      <section class="info">
        <h3 class="info__heading">
          Безопасность и высокая скорость кредитования
        </h3>
        <p class="info__text">
          Вы можете не опасаться взять займ в фирмах, представленных в нашем рейтинге. Все МФО проверяются на наличие
          свидетельства о микро-финансовой деятельности, выдающегося ЦБР. Если в истории существования компании есть
          непрезентабельные данные – мы также не скрываем подобную информацию. На сайте происходит периодическое
          обновление о данных МФО. Все сообщения модерируются ручным способом, поэтому написать ложный отзыв в
          положительную или отрицательную сторону об определенной компании просто невозможно. Все отзывы принадлежат
          реальным людям, бравшим микрозаймы онлайн.
        </p>
        <p class="info__text">
          Многие компании на нашем сайте предлагают оформить займ на максимально выгодных условиях для клиентов – низкой
          процентной ставке. Это связано с высокой конкуренцией на рынке. МФО любыми путями привлекают клиентскую базу.
        </p>
        <p class="info__text">
          Денежные средства можно получить даже в ночное время суток. Для сравнения: в банке для оформления ссуды
          понадобится время на дорогу, процесс выдачи длится не менее 2 дней, а оформить займ можно только в будни и
          рабочее время. Обращение в МФО из перечня на нашем сайте – это единственно верное решение для моментального
          получения кредита.
        </p>
        <h3 class="info__heading">
          Каким способом перевода лучше воспользоваться?
        </h3>
        <p class="info__text">
          Не все предложения МФО доступны для выдачи круглосуточно и быстро. Обязательно обращайте внимание на варианты
          выдачи средств.
        </p>
        <p class="info__text">
          Если вам нужен быстрый займ онлайн, выбирайте следующие методы передачи денежных средств:
        </p>
        <ul class="info__list list">
          <li class="info__text info__item list__item">
            На карту.
          </li>
          <li class="info__text info__item list__item">
            На электронный кошелек.
          </li>
        </ul>
        <p class="info__text">
          Взять займ на карту – это удобно и быстро. Практически все МФО, работающие удаленно, предоставляют своим
          клиентам такую возможность для вывода средств. Для получения денег понадобится карта любого банка, оформленная
          на имя заемщика.
        </p>
        <p class="info__text">
          Электронный кошелек также поможет вам быстрее получить микрокредит онлайн. Деньги перечисляются даже ночью,
          поэтому проблем с переводом не возникнет. Многие МФО сотрудничают с популярными сервисами, такими как Яндекс
          или Вебмани.
        </p>
        <p class="info__text">
          Для сравнения: перечисление средств на банковский счет займет около 1 – 3 дней, поэтому, если деньги нужны
          срочно, выбирайте перевод на карту или электронный кошелек.
        </p>
        <h3 class="info__heading">
          Основные преимущества МФО
        </h3>
        <p class="info__text">
          К главным плюсам кредитования в МФО относятся, конечно, доступность займа онлайн и высокая скорость его
          получения. В трудной финансовой ситуации вы обращаетесь в организацию и моментально получаете деньги. Но есть
          и другие важные достоинства кредитования:
        </p>
        <ul class="info__list list">
          <li class="info__text info__item list__item">
            Нет необходимости в поиске справок о доходах и поручителей.
          </li>
          <li class="info__text info__item list__item">
            Деньги вы получите, в буквальном смысле, не выходя из дома, сидя в уютном кресле за монитором своего ПК.
          </li>
          <li class="info__text info__item list__item">
            На оформление кредита у вас уйдет не более 30 минут.
          </li>
          <li class="info__text info__item list__item">
            Низкий процент отказов в выдаче микрозайма онлайн.
          </li>
          <li class="info__text info__item list__item">
            При необходимости срочных денег «на день» вы можете запросить минимальную сумму (от 500 или 1000 рублей).
          </li>
        </ul>
        <p class="info__text">
          Микрокредит онлайн могут получить все категории клиентов. МФО предоставляют свои услуги даже заемщикам с
          плохой кредитной историей. Вероятность отказов близится к нулю – практически всегда организации присылают
          положительный ответ. Клиенты с испорченной кредитной историей получают шанс улучшить её за счет добросовестных
          погашений долгов в МФО.
        </p>
        <p class="info__text">
          Чтобы оформить быстрый займ онлайн, выберите компанию из нашего рейтинга с наиболее привлекательными для вас
          условиями. На странице официального сайта МФО вы сможете ознакомиться со всеми нюансами или связаться
          менеджерами фирмы для уточнения вопросов.
        </p>
      </section>
    </div>
    {{> aside}}
  </div>
</main>
{{/content}}

{{#content "footer"}}
{{> footer}}
{{/content}}

{{/extend}}
