<div class="mfo-info {{add-class}}">
  <div class="mfo-info__container">
    <div class="mfo-info__content">
      <div class="mfo-info__top">
        <a href="{{link}}" title="{{name}}">
          <img src="{{img}}" alt="{{name}}">
        </a>
      </div>
      <div class="mfo-info__bottom">
        <table class="mfo-info__table">
          <tr class="mfo-info__row">
            <td>Веб-сайт:</td>
            <td><a href="{{link}}">{{linkName}}</a></td>
          </tr>
          <tr class="mfo-info__row">
            <td>Адрес компании:</td>
            <td><a href="{{mapLink}}">{{adress}}</a></td>
          </tr>
          <tr class="mfo-info__row">
            <td>Номер телефонов горячей линии:</td>
            <td>{{tel}}</td>
          </tr>
          <tr class="mfo-info__row">
            <td>Электронная почта:</td>
            <td>{{email}}</td>
          </tr>
          <tr class="mfo-info__row">
            <td>Часы работы:</td>
            <td>{{workingTime}}</td>
          </tr>
          <tr class="mfo-info__row">
            <td>Номер свидетельства регистрации:
            </td>
            <td>{{registrationNumber}}</td>
          </tr>
          <tr class="mfo-info__row">
            <td>ОГРН:</td>
            <td>{{OGRN}}</td>
          </tr>
          <tr class="mfo-info__row">
            <td>ИНН:</td>
            <td>{{INN}}</td>
          </tr>
          <tr class="mfo-info__row">
            <td>Дата внесения в реестр:</td>
            <td>{{registartionDate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
